html{
    --text-secondary:#8696a0;
    --text-tertiary:#98bdb6;
}

body{
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: Helvetica,Arial, sans-serif;
    color: white;
}

button{
    cursor: pointer;
}

i{
    opacity: 1;
    cursor: pointer;
    color:var(--text-secondary)
}

/*---------------- CONTACTS SECTION ----------------*/

#contacts{
    background: #111b21;
    width: 30%;
    height: 100%;
    border-right: 1px solid #313d45;
}

nav{
    background: #202c33;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9%;
    padding: 0rem 1rem;
}

nav > div > i {
    margin:0rem 0.9rem;
    font-size: 1.1rem;
    opacity: 0.6;
}

#contacts__user{
    width: 6vh;
    border-radius: 50%;
    object-fit: contain;
}

#contacts__area{
    padding: 0rem 0rem;
}

#contacts__area > form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0.5rem;
}

#searchbar{
    background: #202c33;
    border-radius: 8px;
    padding: 0.58rem;
    border: 0px;
    width: 85%;
    
}

#searchbar > input{
    margin-left: 1.5rem;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 0.95rem;
    font-weight: 100;
}

#filterbutton{
    background: transparent;
    border: 0px;
    font-size: 0.9rem;
    margin: 0rem 0.5rem;
}


.contact{
    display: flex;
    align-items: stretch;
}

.contact:hover, .contact:hover > .contact__info{
    background: #2a3942;
    border:none
}


.contact__info{
    display: flex;
    justify-content: space-between;
    align-items:start;
    border-bottom: 1px solid #313d45;
    width: 100%;
    margin-top: 1.1rem;
    padding-bottom: 0.8rem;
    padding-right: 0.5rem;
}

.contact__name > p{
    font-weight: 100;
    font-size: 1.08rem;
    margin: 0rem;
}

.contact__name > small{
    display: inline-block;
    margin-top: 0.4rem;
    font-size: 1rem;
    opacity: 0.4;
}

.contact__time{
    opacity: 0.4;
}

.contact__user{
    width: 7.5vh;
    margin: 0.8rem 1rem 0.8rem 0.5rem;
    border-radius: 50%;
    object-fit: contain;
}

/*---------------- CHATS SECTION ----------------*/

#chats{
    height: 100vh;
    background: #222e35;
    width: 70%;
    
}

#chats__info{
    background: #202c33;
    height: 9%;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    
}

.chats__info{
    display: flex;
    justify-content: space-between;
    align-items:center;

    width: 100%;
    margin-top: 0rem;
    padding-left: 0.6rem;
    padding-right: 0.5rem;
}



.chats__name > p{
    font-weight: 100;
    font-size: 1.08rem;
    margin: 0rem;
}

.chats__name > small{
    display: inline-block;
    margin-top: 0.2rem;
    opacity: 0.4;
}

.chats__time > i{
    margin-left: 2.5rem;
}

.chats__user{
    width: 6vh;

    border-radius: 50%;
    object-fit: contain;
}

#chats__messages{
    height: 81.5%;
    background: #131b21;
    overflow: auto;
    padding:0rem 4.9rem;
}

.chats__message__me{
    background: #005c4b;
    width: fit-content;
    margin-left: auto;
    border-radius: 7.5px;
    padding: 0.2rem 0.6rem;
    font-size: 0.8875rem;
    margin-top:0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.chats__message__me::before{
    content:"";
    position: absolute;
    background: transparent;
    width: 0rem;
    height: 0rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #005c4b;
    top:0%;
    right: -3%;
}

.chats__message__me > p:first-child {
    margin: 0rem;
}

.chats__message__other{
    background: #202c33;
    width: fit-content;
    margin-right: auto;
    border-radius: 7.5px;
    padding: 0.2rem 0.6rem;
    font-size: 0.8875rem;
    margin-top:0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.chats__message__other::before{
    content:"";
    position: absolute;
    background: transparent;
    width: 0rem;
    height: 0rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #202c33;
    top:0%;
    left: -3%;
}

.chats__message__other > p:first-child {
    margin: 0rem;
}

.chat__time{
    color:var(--text-tertiary);
    align-self: flex-end;
    margin: 1rem 0rem 0rem 0.5rem;
    font-size: 0.75rem;
}

.chat__time  > i{
    color: var(--text-tertiary);
}

#chats__panel{
    background: #202c33;
    display: flex;
    justify-content: space-between;
    height: 9.5%;
    padding: 0rem 0.2rem;
}

#chats__panel > button {
    color: white;
    font-size: 1.3rem;
}

#chats__panel > input{
    background:#2a3942;
    color:white;
    border: none;
    border-radius:8px;
    padding: 0rem 1rem;
    margin: 0.7rem 0rem;
    flex: 1;
    font-size: 1rem;
    
}
#chats__main{
    flex:1;
    background:red;
    height: 100%;
}

#chats__panel > button{
    background: transparent;
    border: none;
    padding: 1rem;
}